.CalendarGrid--Title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.CalendarGrid--Action {
  font-size: 1rem;
  padding: 5px 10px;
}

.CalendarGrid--Month {
  font-size: 1.2rem;
  font-weight: bold;
  align-self: center;
}

.CalendarGrid--Grid {
  background: Gainsboro;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px dotted DarkGray;
  border-left: 1px dotted DarkGray;
}

.CalendarGrid--Header {
  background: DarkGray;
  padding: 5px;
  margin: -1px 0 0 -1px;
  color: white;
  text-align: center;
}

.CalendarGrid--Day {
  background: white;
  min-height: 100px;
  position: relative;
  padding: 3px;
  border-bottom: 1px dotted DarkGray;
  border-right: 1px dotted DarkGray;
}

.CalendarGrid--Day__past {
  background: WhiteSmoke;
}

.CalendarGrid--DayNumber {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.CalendarGrid--DayNumber__today {
  font-weight: bold;
}

.CalendarGrid--Appointment {
  background: SkyBlue;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid RoyalBlue;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .CalendarGrid--Grid {
    grid-template-columns: 1fr;
  }
  .CalendarGrid--Header {
    display: none;
  }
}
