.InputText {
  margin-bottom: 10px;
}

.InputText--Label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}


.InputText--Field {
  display: block;
  width: 100%;
  background: Gainsboro;
  padding: 5px 10px;
  border: 1px solid Silver;
}

.InputText--Field:focus {
  border-color: Black;
}
